<head>
<title>PBUI Project</title>
<link rel=\"icon\" href=\"https://waifupaste.moe/raw/favicon.png\">
<style>
        body {
            margin: 10px;
            background-image: url(\"https://waifupaste.moe/assets/imgs/texture.png\");
        }
    </style>
</head> 
<body>
  <pre><code><%= sensors_data %></code></pre>
  <pre><code><%= hddtemp_data %></code></pre>
  <pre><code><%= free_data %></code></pre>
  <pre><code><%= df_data %></code></pre>
  <pre><code><%= mpstat_data %></code></pre>
  <pre><code><%= uptime_data %></code></pre>
</body>
